html {
	font-size: 18px;
	font-family: Helvetica;
	text-transform: uppercase;
	display: flex;
	flex-direction: column;
	align-items: center;
	background-color: black;
}

body {
	width: 960px;
}
header {
	display: flex;
	position: relative; 
	top: 0px;
	background-color: black;
	width: 100%;
	color: white;
	align-items: center;
	padding-top: 0.66rem;
	padding-bottom: 0.66rem;
}


header .logo{
	height: 1.5rem;
	padding-left: 0.5rem;
		
}

header .title {
	font-size: 1rem;
	padding-left: 1rem;
}

.cover {
	background-image: url('../../resources/images/moto.jpg');
	height: 25rem;
}