html {
	font-size: 18px;
	background-color: white;
}

body {
	font-family: Helvetica, sans-serif;

}

/* this rule below will set all content within it
in the center of the page as it shows up on the screen 

because i placed all my content in a self identify tag along with
 a global container tag I am able to have the  background color
 span the width of the page even though the content on top
 remains in the middle of the screen*/
.container {
	max-width: 960px;
	margin: 0 auto;
}

/* HEADER RULES */

.header {
	background-color: black;
	color: white;
}

.header .container {
	display: flex;
	align-items: center;
	padding: 0.66rem 0rem 0.66rem 0.5rem;
}

.header img {
	height: 1.5rem;
	padding-right: 1rem;
}

.header span {
	text-transform: uppercase;
}


/* COVER PHOTO RULES */

.cover {
	background-image: url('../../resources/images/moto.jpg');
	background-size: cover;
	background-repeat: no-repeat;
	height: 25rem;
}

@media only screen and (max-width: 470px) {
	
	.cover {
		height: 16.3rem;
	}
}

.cover .desktop-container {
	position: relative;
	top: 9rem;
	background-color: black;
	color: white;
	width: 20rem;
	padding: 2rem 3rem;
}

.cover .top, .cover .bottom {
	text-transform: uppercase;
	font-weight: bold;
}

.cover .top {
	font-size: 1rem;
	padding-bottom: 0.25rem;
}

.cover .bottom {
	font-size: 2rem;

}

.mobile-container {
	display: none;
}

@media only screen and (max-width: 1024px) {
	.cover .top {
		font-size: 1.5rem;
	}

	.cover .bottom {
		font-size: 1.2rem;
	}
}

@media only screen and (max-width: 470px) {
	.desktop-container {
		display: none;
	}

	.mobile-container {
		display: block;
		position: relative;
		top: 10rem;
		background-color: black;
		color: white;
	}

	.mobile-container .top,
	.mobile-container .bottom {
		padding: 1rem 0 1rem 2rem;
		font-weight: bold;
		font-family: Helvetica;
	}

	.mobile-container .top {
		font-size: 0.77rem;
	}

	.mobile-contanier .bottom {
		font-size: 1rem;
	}
}



/* NAVIGATION BAR RULES */

nav {
	background-color: firebrick;
}

nav ul {
	display: flex;
	justify-content: space-between;
}

nav li {
	color: white;
	padding: 0.75rem 0;
}

.mobile-nav {
	display: none;
}

@media only screen and ( max-width: 1024px) {
	nav ul {
		display: none;
	}
	.mobile-nav {
		display: block;
		text-align: center;

	}
}

/* PRODUCTS CONTENT RULES */

.products {
	display: flex;
	justify-content: space-between;
	margin-top: 3rem;
}

.product {
	border: 4px solid black;
	padding-top: 2rem;
	padding-bottom: 2rem;
	height: 9rem;
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.product-container {
	width: 30%;
}

.product img {
	max-width: 8rem;
	margin: 0 auto;
}

.description {
	display: block;
	background-color: black;
	color: white;
	text-align: center;
	padding: 0.5rem 0;
}

@media only screen and ( max-width: 1024px) {
	.product-container {
		width: 47%;
		margin: 0 auto;
	}

	.glasses {
		display: none;
	}
}

@media only screen and (max-width: 470px) {
	.product-container {
		width: 90%;
	}

	.glasses, .watch {
		display: none;
	}
}

/*  CONTACT INFO CONTENT */	

.contact {
	display: flex;
	justify-content: space-between;
	margin-top: 3rem;
}

.description1 {
	background-color: black;
	color: white;
	padding-left: 2rem;
	padding-top: 1rem;
	padding-bottom: 1rem;
}

.business-info {
	width: 35%;
}

.info {
	padding-bottom: 4rem;
}

@media only screen and (max-width: 470px) {

	.contact {
		display: flex;
		flex-direction: column;
		align-items: center;
	}
	
	.business-info {
		width: 90%;
	}

	.info {
		padding-bottom: 0.5rem;
	}

	.mobile-info {
		padding-bottom: 3rem;
	}
}

/* FOOTER CONTENT */
.footer {
	background-color: black;
	height: 5rem;
	color: white;
}

.center-me {
	padding-top: 2.5rem;

}

@media only screen and (max-width: 470px) {
	
	.center-me {
		padding-top: 2.5rem;
		text-align: center;
	}
}


